#title {
    text-align: center;
  }
  
/* ハンバーガーメニューのcss */
.menu-btn {
position: fixed;
top: 10px;
right: 10px;
display: flex;
height: 60px;
width: 60px;
justify-content: center;
align-items: center;
z-index: 90;
background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
content: '';
display: block;
height: 3px;
width: 25px;
border-radius: 3px;
background-color: #ffffff;
position: absolute;
}
.menu-btn span:before {
bottom: 8px;
}
.menu-btn span:after {
top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
bottom: 0;
transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
top: 0;
transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 100%;/*leftの値を変更してメニューを画面外へ*/
z-index: 80;
background-color: #3584bb;
transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
left: 70%;/*メニューを画面内へ*/
}

/* ハンバーガ終わり */

#tag {
    text-align: center;
}

/* テーブルのCSS */
.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.table tr {
    border-top: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
}
.table tr th,
.table tr td {
    padding: 20px 20px;
    text-align: left;
    vertical-align: top;
}
.table tr th {
    width: 20%;
    font-weight: bold;
    background: #F2F2F3;
}
.table tr td {
    width: 80%;
}

@media screen and (max-width: 767px){
.table tr th,
.table tr td {
    display: block;
    width: 100%;
}
}


/* 装飾 */
*{
  box-sizing: border-box;
}
body{
  margin: 30px 40px;
}

/* テーブル終わり */

/* レスポンシブ */
@media(min-width: 768px){
    a[href^="tel:"]{
      pointer-events: none;
    }
}

/* 装飾 */
.btn-tel{
    position: relative;
    display: block;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    background: #f75065;
    padding: 5px 0;
    margin: auto;
    max-width: 250px;
}
  
.btn-tel::after{
    content: "";
    background-image: url(telephone.png) no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: 15px;
}
  